<!-- <form class="">
	<h3>Enter issue here</h3>
	<br><h2>{{newIssue}} </h2>
	<p class="input-group">
		<input type="text" class="form-control" ng-model="newIssue" placeholder="Enter the name of the issue you wish to identify">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary" ng-click="addIssue()">Add New</button>
		</span>
</form> -->

<form class="issue-form">
	<h3>This form is for development purposes only.</h3>
	<p class="input-group">
		<input type="text" class="form-control" placeholder="Enter the name of the issue you wish to identify" ng-model="newIssue">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary" ng-click="addIssue()">Add New</button>
		</span>
	</p>
</form>